@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #050816;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #7c3aed;
  color: white;
}

.cyber-bg {
  position: fixed;
  inset: 0;
  z-index: -2;

  background:
    radial-gradient(circle at 15% 20%, rgba(255,0,128,.16), transparent 25%),
    radial-gradient(circle at 85% 20%, rgba(0,255,255,.16), transparent 25%),
    radial-gradient(circle at 50% 80%, rgba(124,58,237,.18), transparent 30%),
    radial-gradient(circle at 70% 60%, rgba(57,255,20,.08), transparent 25%),
    #050816;
}

.grid-overlay {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image:
    linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px);
  background-size: 40px 40px;
  opacity: 0.5;
}

.glass {
  background: rgba(255,255,255,.05);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,.08);
}

.neon-border {
  border: 1px solid rgba(255,255,255,.08);

  box-shadow:
    0 0 8px rgba(255,0,128,.25),
    0 0 18px rgba(0,255,255,.18),
    inset 0 0 8px rgba(124,58,237,.15);
}

.glow-text {
  text-shadow:
    0 0 10px rgba(124,58,237,.7),
    0 0 25px rgba(124,58,237,.5);
}

.section {
  padding: 120px 8%;
}

.hover-card {
  transition: .35s ease;
}

.hover-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(124,58,237,.2);
}

.magnetic {
  transition:
    transform .25s ease,
    box-shadow .25s ease;
}

.magnetic:hover {
  transform:
    translateY(-3px)
    scale(1.03);

  box-shadow:
    0 10px 30px rgba(124,58,237,.25);
}